@use '../abstracts' as *;

.btn {
    @include no-user-select;
    border: none;
    background: none;
    cursor: pointer;
    padding: .625rem 1.25rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-weight: 600px;
    line-height: 1.5;
    transition: all .15s ease;
    text-transform: uppercase;
    will-change: transform;
    letter-spacing: .025em;
    font-size: .875rem;

    &:hover {
        box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
        transform: translateY(-1px);
    }
}

.btn.btn-round {
    border-radius: 30px;
}

.btn-rounded-circle {
    border-radius: 50%;
}

.btn-icon-only {
    width: 2.375rem;
    height: 2.375rem;
    padding: 0;
}

.btn.btn-sm {
    width: 2rem;
    height: 2rem;
    padding: 0;
}

.btn.btn-lg {
    width: 3rem;
    height: 3rem;
    padding: 0;
}

.btn-sm { font-size: .75rem; }
.btn-lg { font-size: 1rem; }

.btn-danger {
    color: #fff;
    background-color: $danger;
    border-color: $danger;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0, 1px 3px rgba(0, 0, 0, .08);

    &:hover {
        background-color: darken($danger, 12%);
        border-color: darken($danger, 12%);
    }
}

.btn-primary {
    color: #fff;
    font-weight: 600;
    background-color: $primary;
    border-color: $primary;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0, 1px 3px rgba(0, 0, 0, .08);
    border-radius: .25rem;

    &:hover {
        background-color: darken($primary, 12%);
        border-color: darken($primary, 12%);
    }
}

.btn-github {
    background-color: $github;
    color: $white;
    
    &:hover {
        background-color: darken($github, 5%);
        border-color: darken($github, 5%);
    }
}

.btn-twitter {
    background-color: $twitter;
    color: $white;
    
    &:hover {
        background-color: darken($twitter, 5%);
        border-color: darken($twitter, 5%);
    }
}

.btn.btn-twitter.btn-icon-only { padding: 0rem; }

.btn-facebook {
    background-color: $facebook;
    color: $white;
    
    &:hover {
        background-color: darken($facebook, 5%);
        border-color: darken($facebook, 5%);
    }
}

.btn-dribble {
    background-color: $dribbble;
    color: $white;
    
    &:hover {
        background-color: darken($dribbble, 5%);
        border-color: darken($dribbble, 5%);
    }
}

.btn:not(:last-child) {
    margin-right: .5rem;
}
